/.DS_Store
/.git
/.ipynb_checkpoints
/2020.07.25 List & Dict Comprehension.ipynb
/Assignment_10_Covid-19.py
/Assignment_11_Armstrong_Number.py
/Assignment_12_Prime_Numbers.py
/Assignment_13_Fibonacci_Numbers.py
/Assignment_14_Fizz_Buzz.py
/Assignment_15_Leap_Year_w_IF.py
/Assignment_16_Letters_Count.py
/Assignment_17_Sudoku_Displayer.py
/Assignment_1_Weekly_Profit.py
/Assignment_2_Covid_19_Possibility.py
/Assignment_3_Measure_Converter.py
/Assignment_5_Leap_Year.py
/Assignment_6_Profit.py
/Assignment_7_Comfortable_Words.py
/Assignment_8_Most_Frequent_Element.py
/Assignment_9_If_Statements.py
/Other_1_Number_guess.py
/Python_Helper
/README.md
/Untitled.ipynb